/* Color Scheme */
// You can generate any color here - https://htmlcolorcodes.com

:root {
  --primary-color: #664eff;
  --secondary-color: #ebffeb;
  --accent-color: #fff5e0;
  --white: #fff;
  --gray: #9e9e9e;
  --blue-gray: #4e5965;
  --light-gray: #f2f2f2;
  --lighten-gray: #eaeaea;
  --dark: #000;
  --dark-blue: #1e2943;

  --background-color: var(--white);
  --background-alt-color: var(--light-gray);
  --background-alt-color-2: var(--lighten-gray);

  --text-color: var(--dark);
  --text-alt-color: var(--blue-gray);

  --heading-font-color: var(--dark);

  --link-color: var(--dark);
  --link-color-hover: var(--dark);

  --button-color: var(--white);
  --button-background-color: var(--dark);
  --button-background-hover: var(--primary-color);

  --border-color: var(--lighten-gray);
  --border-alt-color: var(--white);

  --th-color: var(--light-gray);
  --tr-color: var(--light-gray);

  --callout-note: #007bff;
  --callout-tip: #28a745;
  --callout-important: #9468ff;
  --callout-warning: #ffc107;
  --callout-caution: #dc3545;

  --syntax-highlighting-background: var(--light-gray);
}

:root[dark] {
  --primary-color: #ffad5d;
  --secondary-color: #ebffeb;
  --accent-color: #ffad5d;
  --white: #fff;
  --light-gray: #f5f5f5;
  --gray: #9a9a9a;
  --dark: #1c1d1e;
  --dark-blue: #000;

  --background-color: var(--dark-blue);
  --background-alt-color: var(--dark);
  --background-alt-color-2: #262729;

  --text-color: var(--light-gray);
  --text-alt-color: var(--gray);

  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: var(--light-gray);

  --button-color: var(--dark);
  --button-background-color: var(--primary-color);
  --button-background-hover: #e49446;

  --border-color: #303030;
  --border-alt-color: #303030;

  --th-color: var(--dark);
  --tr-color: var(--dark);

  --syntax-highlighting-background: var(--dark);
}