{{ $isFeatured := false }}
{{ range .Site.RegularPages }}
  {{ if and (.Params.featured) (eq .Params.featured true) }}
    {{ $isFeatured = true }}
    {{ break }}
  {{ end }}
{{ end }}

{{ if $isFeatured }}
<!-- begin featured-post -->
<section class="section featured-post animate">
  <div class="container">
    <div class="section__inner">
      <h2 class="screen-reader-text">Featured</h2>
      <div class="row">
        {{ $counter := 0 }}
        {{ range (where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" true) }}
          {{ $counter = add $counter 1 }}
          {{ if eq $counter 1 }}
          <div class="col col-12">
            {{ partial "article.html" (dict "context" . "class" "article--big") }}
          </div>
          {{ else if ge $counter 2 }}
          <div class="col col-3 col-w-6 col-t-12">
            {{ partial "article.html" (dict "context" .) }}
          </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- end featured-post -->
{{ end }}