/* Tags + Tag Page */
.tag__head {
  margin-bottom: 60px;

  .row {
    row-gap: 32px;
  }

  .tag__link {
    display: block;
    padding: 24px;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    border-radius: 22px;
    color: var(--heading-font-color);
    background: var(--background-alt-color);
    transition: $global-transition;

    &:hover {
      background: var(--background-alt-color-2);
    }
  }

  @media (max-width: $desktop) {
    margin-bottom: 44px;

    .col {
      flex-grow: 1;
    }
  }

  @media (max-width: $tablet) {
    .row {
      row-gap: 12px;
    }

    .tag__link {
      padding: 20px;
      font-size: inherit;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 28px;
  }
}

// Tag Page
.tags__inner {
  margin-bottom: 60px;

  .section__title,
  .section__link {
    padding-top: 20px;
  }

  .section__title {
    text-transform: capitalize;
  }

  .section__inner {
    margin-bottom: -32px;
  }

  .tag__info {
    margin: 0 auto 80px;
    text-align: center;
  }

  .tag__title {
    position: relative;
    margin-bottom: 0;
    font-size: 72px;
    line-height: 1.1;
  }

  .tag__counter {
    position: absolute;
    top: -10px;
    padding: 3px 8px;
    min-width: 26px;
    min-height: 26px;
    font-family: $base-font-family;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
    border-radius: 40px;
    color: var(--heading-font-color);
    background: var(--background-alt-color);
  }

  @media (max-width: $desktop) {
    .tag__info {
      margin: 0 auto 64px;
    }

    .tag__title {
      font-size: 52px;
    }
  }

  @media (max-width: $tablet) {
    .tag__title {
      font-size: 38px;
    }

    .tag__counter {
      padding: 2px 6px;
      min-width: 20px;
      min-height: 20px;
      font-size: 12px;
      line-height: 1.3;
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 28px;

    .tag__info {
      margin: 0 auto 48px;
    }

    .tag__title {
      font-size: 32px;
    }
  }
}