{{ define "main" }}

<!-- begin author -->
<section class="section author">

  <div class="container">
    <div class="author__content">

      <div class="author__image">
        <img class="lazy" data-src="{{ .Params.image }}" alt="{{ .Params.name }}">
      </div>

      <h1 class="author__name">{{ .Params.name }}</h1>

      <div class="author__info">
        {{ if .Params.location }}
        <span class="author__location">
          from {{ .Params.location }}
        </span> •
        {{ end }}
        <span class="post-count">
          {{ len .Pages }} {{ if lt (len .Pages) 2 }}post{{ else }}posts{{ end }}
        </span>
      </div>

      <div class="author__description">{{ .Content | markdownify }}</div>

      <div class="author__social">
        {{ if .Params.website }}
          <a class="author__social__item" href="{{ .Params.website }}" target="_blank" rel="noopener" aria-label="Website link"><i class="fa-solid fa-link"></i></a>
        {{ end }}
        {{ if .Params.facebook }}
          <a class="author__social__item" href="{{ .Params.facebook }}" target="_blank" rel="noopener" aria-label="Facebook link"><i class="fa-brands fa-facebook"></i></a>
        {{ end }}
        {{ if .Params.twitter }}
          <a class="author__social__item" href="{{ .Params.twitter }}" target="_blank" rel="noopener" aria-label="Twitter link"><i class="fa-brands fa-x-twitter"></i></a>
        {{ end }}
        {{ if .Params.instagram }}
          <a class="author__social__item" href="{{ .Params.instagram }}" target="_blank" rel="noopener" aria-label="Instagram link"><i class="fa-brands fa-instagram"></i></a>
        {{ end }}
        {{ if .Params.pinterest }}
          <a class="author__social__item" href="{{ .Params.pinterest }}" target="_blank" rel="noopener" aria-label="Pinterest link"><i class="fa-brands fa-pinterest"></i></a>
        {{ end }}
        {{ if .Params.mastodon }}
          <a class="author__social__item" href="{{ .Params.mastodon }}" target="_blank" rel="noopener" aria-label="Mastodon link"><i class="fa-brands fa-mastodon"></i></a>
        {{ end }}
        {{ if .Params.youtube }}
          <a class="author__social__item" href="{{ .Params.youtube }}" target="_blank" rel="noopener" aria-label="Youtube link"><i class="fa-brands fa-youtube"></i></a>
        {{ end }}
        {{ if .Params.tiktok }}
          <a class="author__social__item" href="{{ .Params.tiktok }}" target="_blank" rel="noopener" aria-label="Tiktok link"><i class="fa-brands fa-tiktok"></i></a>
        {{ end }}
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section__inner">
      <div class="row animate">
        {{ range .Data.Pages }}
        <div class="col col-4 col-d-6 col-t-12">
          {{ partial "article.html" (dict "context" .) }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>

</section>
<!-- end author -->

{{ end }}